<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">E-Com Seller</a>
        <form class="d-flex float-end">
            <a class="btn btn-danger" href="/seller/logout">Logout</a>
        </form>
    </div>
</nav>