
.rotate{
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test2{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    font-size: large;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}


.rotate{
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test2{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}


.rotate{
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test2{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}


.rotate{
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}

.test2{
    border: 1px solid red;
    background-color: aqua;
    color: black;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
}